In [1]:
import pandas as pd
import numpy as np

In [3]:
dfjob = pd.read_csv(r'C:\Users\ajjup\OneDrive\Desktop\DATASETS\Linear Regression\jobselection.csv')

In [4]:
dfjob

     cgpa  package
0    6.89     3.26
1    5.12     1.98
2    7.82     3.25
3    7.42     3.67
4    6.94     3.57
..    ...      ...
195  6.93     2.46
196  5.89     2.57
197  7.21     3.24
198  7.63     3.96
199  6.22     2.33

[200 rows x 2 columns]

In [6]:
dfjob.isna().sum()

cgpa       0
package    0
dtype: int64

In [10]:
X = dfjob[["cgpa"]]

In [11]:
X

     cgpa
0    6.89
1    5.12
2    7.82
3    7.42
4    6.94
..    ...
195  6.93
196  5.89
197  7.21
198  7.63
199  6.22

[200 rows x 1 columns]

In [12]:
type(X)

pandas.core.frame.DataFrame

In [13]:
y = dfjob['package']

In [14]:
y

0      3.26
1      1.98
2      3.25
3      3.67
4      3.57
       ...
195    2.46
196    2.57
197    3.24
198    3.96
199    2.33
Name: package, Length: 200, dtype: float64

In [41]:
from  sklearn.model_selection import train_test_split

In [64]:
Xtrain, Xtest, ytrain, ytest = train_test_split(X, y, test_size= 0.20)

In [65]:
Xtrain

     cgpa
5    7.89
55   8.20
138  7.91
179  7.14
61   5.48
..    ...
126  5.91
69   7.30
165  8.21
90   7.11
115  8.35

[160 rows x 1 columns]

In [55]:
Xtrain.shape, Xtest.shape,  X.shape

((160, 1), (40, 1), (200, 1))

In [56]:
ytrain.shape, ytest.shape,y.shape

((160,), (40,), (200,))

###   Model  Building

In [66]:
from  sklearn.linear_model import  LinearRegression

In [67]:
lrmodel = LinearRegression()

In [68]:
lrmodel

LinearRegression()

In [69]:
lrmodel.fit(Xtrain, ytrain)

LinearRegression()

In [70]:
lrmodel.coef_

array([0.57170426])

In [71]:
lrmodel.intercept_

-1.0020531089991578

In [72]:
lrmodel.score(Xtest,ytest)

0.8773616374025383

In [74]:
lrmodel.predict([[9.2]])

c:\users\ajjup\appdata\local\programs\python\python39\lib\site-packages\sklearn\base.py:450: UserWarning: X does not have valid feature names, but LinearRegression was fitted with feature names
  warnings.warn(

array([4.25762605])